body 
{
    background-color: lightyellow;
	background-image: url(), url();
	background-repeat: no-repeat, repeat;
	background-position: bottom right, top left;
	margin-left: 100px;
	margin-top: 50px;
}

h1 {
	font-weight:bolder;
    text-shadow: 1px 1px #696969;
	text-align: center
}
h3 {
	font-size: x-large;
	text-align: center;
	}
h4 {
	font-size: medium;
	text-align: center;
	}
	a:link, 
	a:visited {
		background-color: #027114;
		color: white;
		padding: 14px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
			}
	a:hover {
		background-color: green;
		color: white;
			}
/* Container holding the image and the text */
.container {
height: 1000px;
 width: 1000px;
    position: relative;
}

.bottom-left {
    position: absolute;
    top: 750px;
    left: 160px;
}

.mid-left {
    position: absolute;
    top: 500px;
    left: 100px;
}

.top-left {
    position: absolute;
    top: 290px;
    left: 220px;
}

.top-right {
    position: absolute;
    top: 250px;
    left: 600px;
}

.mid-right {
    position: absolute;
    top: 480px;
    left: 730px;
}

.bottom-right {
    position: absolute;
    top: 710px;
    left: 730px;
}

.centered {
    position: absolute;
    top: 530px;
    left: 400px;
}

.top {
    position: absolute;
    top: 130px;
    left: 400px;
}

.bottom {
    position: absolute;
    top: 800px;
    left: 490px;
}
